<ng-container *ngIf="type == 0">
  <ng-container *ngFor="let option of options">
    <div class="option-item">
      <input type="radio">
      <label>{{option.id == 0 ? 'A.' : ''}}</label>
      <label>{{option.id == 1 ? 'B.' : ''}}</label>
      <label>{{option.id == 2 ? 'C.' : ''}}</label>
      <label>{{option.id == 3 ? 'D.' : ''}}</label>
      <label>{{option.name}}</label>
    </div>
    <app-answer [type]="type" [questionID]="questionID" [optionID]="option.id"></app-answer>
  </ng-container>
</ng-container>
<ng-container *ngIf="type == 1">
  <ng-container *ngFor="let option of options">
    <div class="option-item" style="margin-left: 5px">
      <input type="checkbox">
      <label>{{option.id == 0 ? 'A.' : ''}}</label>
      <label>{{option.id == 1 ? 'B.' : ''}}</label>
      <label>{{option.id == 2 ? 'C.' : ''}}</label>
      <label>{{option.id == 3 ? 'D.' : ''}}</label>
      <label> {{option.name}}</label>
    </div>
    <app-answer [type]="type" [questionID]="questionID" [optionID]="option.id"></app-answer>
  </ng-container>
</ng-container>
<ng-container *ngIf="type == 2">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Câu trả lời của bạn" aria-label="Number" matInput [matAutocomplete]="auto">
    <app-answer [type]="type"></app-answer>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option.id">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <app-answer [type]="type" [questionID]="questionID" [optionID]="optionId"></app-answer>
</ng-container>
