<div class="container bg-white mt-5 p-3">
  <div class="d-inline-block float-left">
    <h1 class="">Danh sách nhân viên</h1>
  </div>
  <div class="float-right pt-2">
    <button mat-button class="btn-warning" (click)="openDialog()">Thêm</button>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>Tên</th>
        <th>Ảnh đại diện</th>
        <th colspan="2">Thao tác</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let staff of staffs">
        <td>{{staff.id}}</td>
        <td>{{staff.name}}</td>
        <td><img src="{{staff.avatar}}"></td>
        <td>
          <button class="btn btn-success" (click)="edit(staff.id)">Sửa</button>
        </td>
        <td>
          <button class="btn btn-danger">Xóa</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="float-right">
    <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold" (click)="firstPage()" class="btn btn-primary">First</mat-button-toggle>
      <mat-button-toggle value="italic" (click)="previousPage()" class="btn btn-danger">Previous</mat-button-toggle>
      <mat-button-toggle value="underline" (click)="nextPage()" class="btn btn-success">Next</mat-button-toggle>
      <mat-button-toggle value="underline" (click)="lastPage()" class="btn btn-warning">Last</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
