<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Shiba Inu</h2>
      <h4>shibainu@gmail.com</h4>
    </div>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  </div>
</mat-nav-list>
<mat-divider></mat-divider>
<div class="pages">
  <mat-list>
    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLink="">Dashboard</a>
    <a mat-list-item routerLink="/danh-sach-danh-muc" routerLinkActive="active">Categories</a>
    <a mat-list-item routerLink="/danh-sach-bai-dang" routerLinkActive="active">Posts</a>
    <a mat-list-item routerLink="/danh-sach-nguoi-dung" routerLinkActive="active">User</a>
  </mat-list>
</div>
<mat-divider></mat-divider>
<div class="tools">
  <mat-list>
    <h2 matSubheader>Tools</h2>
    <a mat-list-item href="">
      <mat-icon>import_contacts</mat-icon>
      Contacts</a>
    <a mat-list-item href="">
      <mat-icon>contact_phone</mat-icon>
      Leads</a>
  </mat-list>
</div>

<mat-divider></mat-divider>
